<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>

<center>
    <h3>Packages</h3>
    
    <% @messages.each do |message|%>
      <% tracking_number_array = TrackingNumber.search(message['body']['content'])%>
      <% if tracking_number_array.size >= 1%>
      <% tracking_number_array.each do |tracking_number|%>
        <%url = URI.parse("https://api.shipengine.com/v1/tracking?carrier_code="+tracking_number.courier_code.to_s+"&tracking_number="+tracking_number.tracking_number)
          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE
      
          request = Net::HTTP::Get.new(url.request_uri)
          request["accept"] = 'application/json'
          request["api-key"] = ENV["SHIPENGINE_API_KEY"]
      
          response = http.request(request) %>
          <% hashed_response = JSON.parse(response.body)%>
            <% if hashed_response["status_code"]%>
            
            <div class="uk-card">
              <%=tracking_number.courier_name%> 

              <%
              if(hashed_response["status_code"] == 'NY')
              tracking_status = "message-error"
              tracking_progress = "0"
              elsif(hashed_response["status_code"] == 'UN')
              tracking_status = "message-warning"
              tracking_progress = "0"
              elsif(hashed_response["status_code"] == 'DE')
              tracking_status = "message-success"
              tracking_progress = "100"
              elsif(hashed_response["status_code"] == 'IT')
              tracking_status = "message-process"
              tracking_progress = "50"
              elsif(hashed_response["status_code"] == 'AC')
              tracking_status = "message-process"
              tracking_progress = "10"
              end
              %>
              </center>
              <div class="uk-container">
               <progress id="js-progressbar" class="uk-progress uk-progress" value="<%=tracking_progress%>" max="100"></progress><br/>
                <div class="<%=tracking_status%>"x id="small-bottom-margin">
                Trackiing Number : <%=hashed_response["tracking_number"] %><br/>
                Status Code : <%=hashed_response["status_code"]%><br/>
                Status Description : <%=hashed_response["carrier_status_description"]%>
                </div>
              </div>
            </div>
            <center>
            <%end%>
          <%end%>
        <%end%>
      <%end%>


<footer>

  <table class="uk-table uk-table-divider">
  <Caption> Delivery Status Code Explained</Caption>
  <tr>
    <td> NY </td>
    <td> Not Yet Received by Carrier </td>
  </tr>
  <tr>
    <td> Un</td>
    <td> Unknown </td>
  </tr>
  <tr>
    <td> DE </td>
    <td> Delivered </td>
  </tr>
  <tr>
    <td> IT </td>
    <td> In Transit </td>
  </tr>
  <tr>
    <td> AC </td>
    <td> Accepted by the Carrier</td>
  </tr>
  </table>

  This application is curently available for following carriers <br/>
  U.S Postal Service, Fedex, UPS, OnTrac, DHL

  <br/> <br/>

  Powered by Microsoft Graph & ShipEngine

</footer>
</center>
