<!DOCTYPE html>
<html>
  <head>
    <title>PackTrack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

         <% if @user_name%>
         <div class="uk-position-top-right">
            <%= link_to "Packages", {:controller => :mail, :action => :index}, class: "nav-link#{' active' if controller.controller_name == 'mail'}" %>
            <%= link_to "Sign Out", {:controller => :auth, :action => :signout} %>
          </div>
          <%end%>
      <%= yield %>
    </main>
  </body>
</html>